@charset "utf-8";
@import url('main.css');

 
a {display: inline-block !important;}    
.en {
    font-family: 'MonoLisa';
    font-size: 15px;
}
.pt20 {
    padding-top: 20px;
}
.mt20 {
    margin-top: 20px;
}
.bt {
    border-top: 1px dashed #333;
}
html, body {
    
}
section {
    padding: 100px 0;
} 
section .title h2 {
    font-size: 5rem;
    font-family: 'Cafe24-ClassicType';
}
section .title p {
    font-size: 20px;
    margin-top: 20px;
}

section .info {
    margin-top: 50px;
}
section .info p {
    font-size: 20px;
}
section .info .code_title {
    margin-bottom: 20px;
}
section .info ul {
    background-color: #eee;
    padding: 30px;
    border-radius: 5px;
    margin: 30px 0 30px;
}
section ul li {
    font-size: 18px;
    line-height: 1.5;
}
section ul li strong {
    width: 180px;
    display: inline-block;
    color: #333;
    font-family: 'MonoLisa';
}

.inner {
    max-width: 1200px;
    width: calc(100% - 40px);
}
/* 🔔편집프로그램 color scripter code  
.code_editor */
.code_editor {
    color:#f0f0f0;
    font-family:MonoLisa, 'Liberation Mono', Menlo, Courier, monospace !important; 
    line-height:140%;
    font-size: 13px;
    padding: 20px 30px;
    background-color: #272727;
    border-radius: 5px;
    margin-bottom: 50px;
}
.colorscripter-code {
    color:#f0f0f0;
    font-family:MonoLisa, 'Liberation Mono', Menlo, Courier, monospace !important; 
    position:relative !important;
    overflow:auto; 
}



/* tag.html */
.tag_list .middle_title {
    margin: 40px 0 20px;
}
.tag_list h4 {
    font-size: 30px;
}
.tag_list p {
    margin: 5px 0 0;
    line-height: 1.3;
}
.tag_list dl {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    padding: 15px;
    margin: 10px 0;
    position: relative; 
    background-color: #fff;
}
.tag_list dl::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #999;
    position: absolute;
    top: 0;
    left: 17%;
}
.tag_list dl dt {
    width: 17%;
    padding: 0 10px;
    font-weight: 600;
}
.tag_list dl dd {
    width: 80%;
    line-height: 1.5;
    word-break: keep-all;
    padding: 0 20px;
}

.tag_list dl:hover {
    background-color: #F7D061;
}