@font-face {
    font-family: 'GothamMedium';
    src: url('GothamMedium.woff2') format('woff2'),
        url('GothamMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

