@charset "utf-8";
* {margin : 0; padding : 0;}
a {text-decoration : none; color : #333;}
li {list-style : none;}
/* header */
header {
    width : 100%;
    background-color : #fff;
    z-index : 10;
}
header > .header_wrap {
    max-width : 1170px;
    width : 100%;
    margin : 0 auto;
    display : flex;
    justify-content: start;
}
.fixed {
    position : sticky;
    top : 0;
    left : 0;
}
header .m_gnb {display : none;}
header .logo {
    margin : 20px 0;
    display : inline-block;
}
header .logo a {display : block;}
header .logo a img {width : 100%;}
header .menu {
    display : inline-block;
    width : 91.3%;
}
.top {
    width : 100%;
    margin : 0 auto;
    padding-top : 16px;
    padding-bottom : 25px;
    text-align : right;
    float : right;
}
.top li {
    display : inline-block;
    padding-left : 16px;
    letter-spacing : -1px;
    font-size : 15px;
    position : relative;
}
.top > li:first-of-type::before {
    content : '';
    width : 1px;
    height: 13px;
    background-color : #e1e1e1;
    position : absolute;
    top : 5px;
    right : -12px;
}
.main {
    width : 100%;
    margin : 0 auto;
    padding-left : 19.8%;
    float : right;
    box-sizing: border-box;
}
.main > li {
    display : inline-block;
    padding : 0 3.8%;
    vertical-align : top;
    position : relative;
}
.main > li > a {
    font-weight : bold;
    display : block;
    font-size : 18px;
    margin-bottom : 26px;
}
.main > li:hover::before {
    content : '';
    width : 100%;
    height : 100%;
    background : url(../img/point.png) 0 0 no-repeat;
    position : absolute;
    top : 85%;
    left : 40%;
    z-index : 10;
}
.on {
    color : #198059;
}
.sub {
    width : 100%;
    padding-top : 36px;
    position : absolute;
    top : 58px;
    left : 25px;
    display : none;
    z-index : 9;
}
.sub > li {
    padding-left : 2.8%;
    height : 48px;
    line-height : 48px;
}
.sub > li > a {
    font-size : 18px;
    letter-spacing : -1px;
}
.sub > li:hover a {
    color : #198059;
}
.sub_bg {
    width : 100%;
    height : 335px;
    background-color : #fff;
    position : absolute;
    top : 116px;
    left : 0;
    z-index : 8;
    display : none;
    border-top : 2px solid #198059;
}
.sub_bg .sub_left {
    max-width : 1170px;
    width : 100%;
    margin : 0 auto;
    padding-top : 36px;
    position : relative;
}
.sub_left > img {
    padding : 14px 0;
}
.sub_left > p:first-of-type {
    font-weight : bold;
    padding-bottom : 30px;
}
.sub_left > h3 {
    font-size : 18px;
    padding-bottom : 16px;
}
.sub_left::before {
    content : '';
    width : 1px;
    height : 335px;
    background-color : #e1e1e1;
    position : absolute;
    top : 0;
    left : 19.12%;
}
/* .m_menu_wrap */
.m_menu_wrap {display : none;}

/* .main_visual */
.main_visual {
    overflow : hidden;
    position : relative;
}
.slick-slide img {
    width : 100%;
    display : block;
}
.slick-prev, .slick-prev:hover, .slick-prev:focus {
    background : url(../img/imgRoll_prev.png) 0 center no-repeat;
    background-size : 100%;
    width : 71px;
    height : 71px;
    z-index : 5;
    left : 2.5%;
}
.slick-next, .slick-next:hover, .slick-next:focus {
    background : url(../img/imgRoll_next.png) 0 center no-repeat;
    background-size : 100%;
    width : 71px;
    height : 71px;
    z-index : 5;
    right : 2.5%;
}
.slick-prev::before, .slick-next::before {
    display : none;
}
.main_button {
    position : absolute;
    bottom : 116px;
    left : 50%;
    width : 45px;
    height : 45px;
}
.main_button button {
    position : absolute;
    top : 0; 
    right : -40px;
    background-color : transparent;
    border : 0;
    display : none;
}
.main_button button.on {
    display : block;
}
.slick-dots {
    width: 100px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
    padding: 6px 55px 6px 15px;
}
.slick-dots li {
    margin : 0;
}
.slick-dots li.slick-active button:before {
    opacity: .8;
    color: white;
}
.slick-dotted.slick-slider {
    margin-bottom : 0;
}
.time {
    width : 600px;
    margin : 0 auto;
    text-align : center;
    padding : 24px 0;
    position : relative;
}
.time > h3, .time > p {
    display : inline-block;
}
.time img {
    position : absolute;
    top : 50%;
    left : 0;
    transform : translate(0, -50%);
}
.time span {
    font-size : 18px;
    font-weight : bold;
    padding-left : 20px;
}
.time > h3 {
    font-size : 18px;
    padding-right : 20px;
    letter-spacing : -1px;
}
.time > p {
    padding : 0 20px;
    font-size : 18px;
}
/* .cont01 */
.cont01 {
    width : 100%;
    margin : 0 auto;
    text-align : center;
    background-image : url(../img/mainCon1_bg.jpg);
    background-position : 0 center;
    background-size : cover;
    color : #fff;
    padding : 120px 0;
    position : relative;
}
.cont01 > .bg1 {
    width : 100%;
    height : 100%;
    overflow : hidden;
    position : absolute;
    top : 0;
    left : 0;
    display : none;
}
.cont01 > .bg1 > img {
    height : 100%;
}
.cont01 > .bg2 {
    width : 100%;
    height : 100%;
    overflow : hidden;
    position : absolute;
    top : 0;
    left : 0;
    display : none;
}
.cont01 > .bg2 > img {
    height : 100%;
}
.cont01 h1.pc {
    font-size : 40px;
    font-weight: lighter;
    margin-bottom : 35px;
}
.cont01 h1.mo {display : none;}
.cont01 p {
    font-size : 18px;
    color : #fff;
}
.cont01_wrap {
    max-width : 1170px;
    width : 100%;
    margin : 0 auto;
    padding-top : 75px;
    display : flex;
    justify-content: space-between;
}
.cont01_wrap .cont01_box {
    width : 49%;
    overflow : hidden;
    box-sizing : border-box;
    position : relative;
}
.cont01_box::before {
    content : '';
    width : 100%;
    height : 100%;
    background-color : rgba(255,255,255,0);
    position : absolute;
    top : 0;
    left : 0;
    border : 1px solid #e0e0e0;
    box-sizing : border-box;
    opacity : 0;
    transition : 0.5s;
}
.cont01_box:hover::before {
    opacity : 1;
}
.cont01_box img {
    width : 100%;
    display : block;
}
.cont01_box p {
    padding : 37px 0;
    color : #fff;
    font-size : 20px;
    font-weight : bold;
}
/* .cont02 */
.cont02 {
    width : 100%;
    margin : 0 auto;
    text-align : center;
    background : url(../img/mainCon2_bg.jpg)0 center no-repeat;
    background-size : cover;
    color : #111;
    padding : 120px 0;
}
.cont02 h1.pc {
    font-size : 40px;
    font-weight: lighter;
    margin-bottom : 35px;
}
.cont02 h1.mo {display : none;}
.cont02 p {
    font-size : 18px;
    color : #555;
}
.cont02_wrap {
    max-width : 1170px;
    width : 100%;
    margin : 0 auto;
    padding-top : 75px;
    display : flex;
    justify-content: space-between;
}
.cont02_wrap .cont02_box {
    width : 32%;
    position : relative;
}
.cont02_box img {
    width : 100%;
    display : block;
}
.cont02_box p {
    padding : 32px 0;
    color : #111;
    font-size : 20px;
    font-weight : bold;
    background-color : #fff;
}
.cont02_box::before {
    content : '';
    width : 100%;
    height : 100%;
    background-color : rgba(255, 255, 255, 0);
    position : absolute;
    top : 0px;
    left : 0px;
    z-index : -1;
    box-shadow : 15px 15px 20px rgba(0,0,0,0.3);
    opacity : 0;
    transition : 0.5s;
}
.cont02_box:hover p {
    background-color : #198059;
    color : #fff;
}
.cont02_box:hover::before {
    opacity : 1;
}
/* .cont03 */
.cont03 {
    width : 100%;
    padding : 120px 0;
    border-bottom : 1px solid #d9d9d9;
}
.cont03 h1 {
    text-align : center;
    font-size : 40px;
    font-weight: lighter;
    margin-bottom : 35px;
}
.cont03 h2 {
    text-align : center;
    font-weight : lighter;
    font-size : 18px;
    color : #555;
}
.cont03_wrap {
    max-width : 1170px;
    width : 100%;
    margin : 0 auto;
    overflow : hidden;
    padding-top : 60px;
}
.cont03_left {
    width : 49%;
    border : 1px solid #e0e0e0;
    box-sizing : border-box;
    padding : 39px 4.18%;
    float : left;
}
.cont03_left .left01 {
    width : 100%;
    border-bottom : 1px solid #e0e0e0;
    box-sizing : border-box;
    position : relative;
}
.cont03_left .left01 > p:first-of-type {
    float : right;
    margin-right : 25px;
}
.cont03_left .left01 img {
    position : absolute;
    top : 0px;
    right : -5px;
}
.cont03_left .left01 img .moNews {display : none;}
.cont03_left .left01 dt {
    font-size : 22px;
    font-weight : bold;
    margin-bottom : 30px;
}
.cont03_left .left01 dd {
    font-size : 20px;
    letter-spacing : -1.2px;
    margin-bottom : 52px;
}
.cont03_left .left01 p:last-of-type {
    margin-bottom : 27px;
}
.cont03_left .left02 {
    text-align : left;
}
.cont03_left .left02 {
    padding-top : 31px;
}
.cont03_left .left02 li {
    height : 35px;
    line-height : 35px;
}
.cont03_left .left02 p {
    float : left;
    width : 80%;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    position : relative;
}
.cont03_left .left02 span { 
    height : 35px;
    line-height : 35px;
    float : right;
}
.cont03_right01 {
    width: 49%;
    float: right;
    display: flex;
    justify-content: space-between;
}
.cont03_right01 div {
    width : 47.83%;
    border : 1px solid #e0e0e0;
    box-sizing : border-box;
    padding : 39px 0;
    text-align : center;
    display : inline-block;
    font-weight : bold;
}
.cont03_right01 div a {
    display : block;
}
.cont03_right01 div img {
    margin-bottom : 20px;
}
.cont03_right01 div > p {
    display : inline-block;
    padding-top : 20px;
}
.cont03_right02 {
    width : 49%;
    height : 192px;
    float : right;
    overflow : hidden;
    position : relative;
    margin-top : 23px;
}
.cont03_right02 > img {
    width : 100%;
    display : block;
}
.cont03_right02 .right02_text {
    position : absolute;
    left : 8%;
    top : 15%;
    color : #fff;
}
.cont03_right02 .right02_text h3 {
    font-size : 30px;
    font-weight : lighter;
}
.cont03_right02 .right02_text > p {
    margin-top : 20px;
}
.cont03_right02 .right02_text > p > a {
    color : #fff;
    font-weight: bold;
}
.cont03_right02 .right02_text > p img {
    margin-left : 10px;
}

/* footer */
footer {width : 100%}
.footer_wrap {
    max-width : 1170px;
    width : 100%;
    margin : 0 auto;
    padding-top : 56px;
    padding-bottom : 150px;
    color : #666;
}
.footer01 ul {
    text-align : left;
    padding-bottom : 34px;
    border-bottom : 1px solid #e0e0e0;
}
.footer01 ul li {
    display : inline-block;
    letter-spacing : -1px;
    margin-right : 1.7%;
}
.footer01 ul li:nth-of-type(4) a {color : #ff0000;}
.footer02 {
    padding-top : 30px;
    position : relative;
}
.footer02_left p {
    font-size : 15px;
    letter-spacing : -1px;
    height : 25px;
    line-height : 25px;
}
.footer02_left span {
    margin-left : 18px;
    position : relative;
}
.footer02_left span::before {
    content : '';
    width : 1px;
    height : 13px;
    background-color : #e1e1e1;
    position : absolute;
    top : 3px;
    left : -8px;
}
.footer02_left p:last-of-type {
    padding-top : 26px;
}
.footer02_right {
    position : absolute;
    top : 30px;
    right : 0;
    width : 210px;
    height : 45px;
    line-height : 45px;
    border : 1px solid #e0e0e0;
    font-size : 14px;
    padding : 0 20px;
    box-sizing : border-box;
}
.footer02_right p {
    display : inline-block;
    position : relative;
}
.footer02_right > img {
    position : absolute;
    top : 50%;
    right : 10%;
    transform : translate(0, -50%);
}

@media screen and (max-width : 1200px) {    
    header > .header_wrap {
        width : 79.33%;
    }   
    .main {
        padding-left : 13%;
    }
    .sub_bg .sub_left {
        padding-left : 10%;
    }
    .sub_left::before {
        left : 22%;
    }
    .cont01 h1.pc {
        font-size : 36px;
        margin-bottom : 25px;
    }
    .cont01_wrap {
        max-width : 1001px;
        width : 95.1%;
        padding-top : 58px;
    }
    .cont01_box p {
        padding : 28px 0;
    }
    .cont01_box::before {
        display : none;
    }
    .cont02 h1.pc {
        font-size : 36px;
        margin-bottom : 25px;
    }   
    .cont02_wrap {
        width : 95.1%;
        padding-top : 58px;
    }
    .cont02_box p {
        padding : 26px 0;
    }
    .cont03 h1 {
        font-size : 36px;
        margin-bottom : 25px;
    }
    .cont03_wrap {
        width : 95.1%;
        padding-top : 58px;
    }
    .cont03_left {
        width : 48.73%;
    }
    .cont03_left .left01 p {
        font-size : 14px;
        letter-spacing : -1px;
    }
    .cont03_left .left01 dd {
        font-size : 20px;
        letter-spacing : -1.2px;
        margin-bottom : 52px;
        width : 100%;
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
    }
    .cont03_left .left02 li {
        overflow : hidden;
    }
    .cont03_left .left02 p {
        float : left;
        width : 76%;
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
        position : relative;
    }
    .cont03_left .left02 a {
        font-size : 14px;
        letter-spacing : -1.5px;
    }
    .cont03_left .left02 span {
        font-size : 14px;
    }
    .cont03_right01 {
        width : 48.73%;
    }
    .cont03_right02 {
        height : 185px;
    }
    .cont03_right02 > img {
        width : 130%;
        position : absolute;
        right : -55px;
    }
    .cont03_right02 .right02_text h3 {
        font-size : 26px;
    }
    .footer_wrap {
        width : 97.5%;
        letter-spacing : -1.2px;
    }
}

@media screen and (max-width : 1000px) {
    header {
        width : 100%;
        height : 101px;
        position : relative;
        border-bottom : 1px solid #e1e1e1;
    }
    header .top {
        display : none;
    }
    header .main {
        display : none;
    }
    header .m_gnb {
        display : block;
        position : absolute;
        top : 30px;
        left : 30px;
    }
    header .logo {
        position : absolute;
        top : 50%;
        left : 50%;
        transform : translate(-50%, -50%);
        margin : 0 ;
    }
    /* .m_menu_wrap */
    .m_menu_wrap {
        width : 100%;
        height : 100vh;
        display : block;
        background-color : #fff;
        z-index : 9;
        position : fixed;
        top : 0;
        left : -100%;
        text-align : left;
        overflow-y: scroll;
        -ms-overflow-style : none;/*익스플로러에서 스크롤바 표시안함*/
    }
    .m_menu_wrap::-webkit-scrollbar {
        display : none;/*스크롤바 표시안함*/
    }
    .m_login {
        width : 100%;
        padding : 36px 0;
        background-color : #128b61;
        position : relative;
    }
    .m_login .m_login_icon {
        position : absolute;
        top : 36px;
        left : 30px;
        display : inline-block;
    }
    .m_login p > a {
        font-size : 28px;
        padding-left : 80px;
        color : #fff;
        display : inline-block;
    }
    .m_login .m_close {
        position : absolute;
        top : 36px;
        right : 30px;
        display : inline-block;
        z-index : 11;
    }
    .m_top {
        width : 100%;
        display : inline-block;
        text-align : center;
        overflow : hidden;
        border-bottom : 1px solid #e1e1e1;
        background-color : #f8f8f8;
    }
    .m_top li {
        float : left;
        width : 50%;
        padding : 23px 0;
    }
    .m_top li:first-of-type {
        border-right : 1px solid #e1e1e1;
        box-sizing : border-box;
    }
    .m_main {
        width : 100%;
        background-color : #fff;
    }
    .m_main > li {
        border-bottom : 1px solid #e1e1e1;
        position : relative;
    }
    .m_plus {
        position : absolute;
        top : 31px;
        right : 30px;
    }
    .m_plus.on {
        display : none;
    }
    .m_minus {
        display : none;
        position : absolute;
        top : 31px;
        right : 30px;
    }
    .m_minus.on {
        display : block;
    }
    .m_main > li > a {
        display : inline-block;
        padding : 30px 0;
        font-size : 25px;
        padding-left : 5.1%;
        width : 100%;
        border-bottom : 1px solid #e1e1e1;
    }
    .m_main > li > a.active {
        background-color : #f2f2f2;
        font-weight : bold;
        color : #128b61;
    }
    .m_sub {
        width : 100%;
        display : none;
        background-color : #f2f2f2;
    }
    .m_sub > li {
        width : 92%;
        margin : 0 auto;
        border-bottom : 1px solid #e1e1e1;
        height : 63px;
        line-height : 63px;
    }
    .m_sub > li:last-of-type {
        border-bottom : 0;
    }
    .m_sub > li > a {
        display : inline-block;
        padding-left : 21px;
        font-size : 20px;
    }
    /* .main_visual */
    .slick-slide img {
        width : 100%;
        display : block;
    }
    .slick-prev, .slick-prev:hover, .slick-prev:focus {
        background : url(../img/imgRoll_prev.png) 0 center no-repeat;
        background-size : 100%;
        width : 35px;
        height : 35px;
        z-index : 5;
        left : 2.5%;
    }
    .slick-next, .slick-next:hover, .slick-next:focus {
        background : url(../img/imgRoll_next.png) 0 center no-repeat;
        background-size : 100%;
        width : 35px;
        height : 35px;
        z-index : 5;
        right : 2.5%;
    }
    .cont01_wrap {
        width : 89.85%;
    }
    .cont02_wrap {
        width : 89.85%;
    }
    .cont02_wrap .cont02_box {
        width : 32%;
        position : relative;
    }
    .cont03_wrap {
        width : 89.85%;
        margin : 0 auto;
    }
    .cont03_left {
        width : 100%;
        border : 1px solid #e0e0e0;
        box-sizing : border-box;
        padding : 40px 33px 40px 40px; 
    }
    .cont03_right01 {
        width : 100%;
        float : left;
        margin-top : 20px;
    }
    .cont03_right01 div {
        width : 48.38%;
    }
    .cont03_right02 {
        width : 100%;
        height : 185px;
        float : left;
        overflow : hidden;
        position : relative;
        margin-top : 20px;
    }
    .cont03_right02 > img {
        width : 100%;
        display : block;
        position : absolute;
        top : -45px;
        right : 0;
    }
    .cont03_right02 .right02_text {
        position : absolute;
        left : 40px;
        top : 40px;
        color : #fff;
    }
}
@media screen and (max-width : 758px) {
    header {
        width : 100%;
        height : 51px;
        position : relative;
        border-bottom : 1px solid #e1e1e1;
    }
    header .m_gnb {
        display : block;
        position : absolute;
        top : 16px;
        left : 14px;
        width : 26px;
        height : 18px;
    }
    header .logo {
        position : absolute;
        top : 50%;
        left : 50%;
        transform : translate(-50%, -50%);
        margin : 0;
        width : 57px;
    }
    header .logo a img {
        width: 100%;
    }
    header .top {
        display : none;
    }
    header .main {
        display : none;
    }
    /* .m_menu_wrap */
    .m_menu_wrap {
        width : 100%;
        height : 100vh;
        display : block;
        background-color : #fff;
        z-index : 9;
        position : fixed;
        top : 0;
        left : -100%;
        text-align : left;
        overflow-y: scroll;
        -ms-overflow-style : none;/*익스플로러에서 스크롤바 표시안함*/
    }
    .m_menu_wrap::-webkit-scrollbar {
        display : none;/*스크롤바 표시안함*/
    }
    .m_login {
        width : 100%;
        padding : 16px 0;
        background-color : #128b61;
        position : relative;
    }
    .m_login .m_login_icon {
        position : absolute;
        top : 16px;
        left : 20px;
        display : inline-block;
        width : 17px;
        height : 20px;
    }
    .m_login p > a {
        font-size : 17px;
        padding-left : 45px;
        color : #fff;
        display : inline-block;
    }
    .m_login .m_close {
        position : absolute;
        top : 36px;
        right : 30px;
        display : inline-block;
        z-index : 11;
    }
    .m_top {
        width : 100%;
        display : inline-block;
        text-align : center;
        overflow : hidden;
        border-bottom : 1px solid #e1e1e1;
        background-color : #f8f8f8;
    }
    .m_top li {
        float : left;
        width : 50%;
        padding : 16px 0 10px;
    }
    .m_top li:first-of-type {
        border-right : 1px solid #e1e1e1;
        box-sizing : border-box;
    }
    .m_top li img.ltw {
        width : 40%;
        height : 50%;
    }
    .m_top li img.irk {
        width : 25%;
        height : 50%;
    }
    .m_main {
        width : 100%;
        background-color : #fff;
    }
    .m_main > li {
        border-bottom : 1px solid #e1e1e1;
        position : relative;
    }
    .m_plus {
        position : absolute;
        top : 18px;
        right : 36px;
        width : 17px;
        height : 17px;
    }
    .m_plus.on {
        display : none;
    }
    .m_minus {
        display : none;
        position : absolute;
        top : 21px;
        right : 36px;
        width : 17px;
    }
    .m_minus.on {
        display : block;
    }
    .m_main > li > a {
        display : inline-block;
        padding : 16px 0;
        font-size : 16px;
        padding-left : 2.1%;
        width : 100%;
        border-bottom : 1px solid #e1e1e1;
    }
    .m_main > li > a.active {
        background-color : #f2f2f2;
        font-weight : bold;
        color : #128b61;
    }
    .m_sub {
        width : 100%;
        display : none;
        background-color : #f2f2f2;
    }
    .m_sub > li {
        width : 95%;
        margin : 0 auto;
        border-bottom : 1px solid #e1e1e1;
        height : 42px;
        line-height : 42px;
    }
    .m_sub > li:last-of-type {
        border-bottom : 0;
    }
    .m_sub > li > a {
        display : inline-block;
        padding-left : 15px;
        font-size : 15px;
    }
    /* .main_visual */
    .time {
        width : 540px;
        margin : 0 auto;
        text-align : center;
        padding : 24px 0;
        position : relative;
    }
    .time img {
        position : absolute;
        width : 25px;
        height : 25px;
        top : 50%;
        left : 0;
        transform : translate(0, -50%);
    }
    .time > span {
        font-size : 15px;
        padding-left : 0;
    }
    .time > h3 {
        font-size : 15px;
        padding-right : 20px;
        letter-spacing : -1px;
    }
    .time > p {
        padding : 0 20px;
        font-size : 15px;
    }
    .main_img {
        position : relative;
    }
    .slick-prev {
        position : absolute;
        left : -99999999px;
    }
    .slick-next {
        position : absolute;
        right : -99999999px;
    }
    .cont01 {
        padding : 64px 0 36px;
    }
    .cont01 h1.pc {display : none;}
    .cont01 h1.mo {
        display : block;
        font-size : 22px;
        font-weight : lighter;
    }
    .cont01 > p {display : none;}
    .cont01_wrap {
        width : 93.93%;
        display : inline-block;
        margin : 0 auto;
        padding-top : 25px;
    }
    .cont01_wrap .cont01_box {
        width : 100%;
    }
    .cont01_box p {
        padding-top : 15px;
    }
    .cont01_box:hover::before {
        opacity : 0;
    }
    .cont02 {
        padding : 64px 0 39px;
    }
    .cont02 h1.pc {display : none;}
    .cont02 h1.mo {
        display : block;
        font-size : 22px;
        font-weight : lighter;
    }
    .cont02 > p {display : none;}
    .cont02_wrap {
        width : 93.693%;
        margin: 0 auto;
        padding-top: 28px;
        display: flex;
        flex-wrap : wrap;
    }
    .cont02_wrap .cont02_box {
        width : 48.45%;
        margin : 0 auto;
        margin-bottom : 10px;
    }
    .cont02_box p {
        padding : 15px 0;
        font-size : 16px;
    }
    .cont03 {
        padding : 64px 0 50px;
    }
    .cont03 h1 {
        font-size : 22px;
    }
    .cont03 h2 {display : none;}
    .cont03_wrap {
        padding-top : 0;
    }
    .cont03_left .left01 > p:first-of-type {
        display : none;     
    }
    .cont03_left .left01 img .moNews {display : block;}
    .cont03_left .left01 dt {
        font-size : 23px;
        margin-bottom : 28px;
    }
    .cont03_left .left01 dd {
        font-size : 20px;
        margin-bottom : 68px
    }
    .cont03_left .left02 {
        padding-top: 20px;
    }
    .cont03_left .left02 li {
        height: 30px;
        line-height: 30px;
    }
    .cont03_right01 div img {
        width : 33px;
        height : 43px;
        margin-bottom : 10px;
    }
    .cont03_right02 .right02_text {
        position : absolute;
        left : 5.75%;
        top : 15%;
        color : #fff;
    }
    .cont03_right02 .right02_text h3 {
        font-size : 20px;
        letter-spacing : -1.5px;
    }
    .cont03_right02 .right02_text p {
        font-size : 14px;
        margin-top : 12px;
        letter-spacing : -1.5px;
    }
    .cont03_right02 .right02_text > p img {
        width : 17px;
        margin-left : 5px;
    }
    .footer_wrap {
        width : 93.93%;
        height : 168px;
        padding-top : 34px;
        padding-bottom : 36px;
    }
    .footer01 ul {
        padding-bottom : 21px;
        border-bottom : 0;
    }
    .footer01 ul li {
        display : inline-block;
        letter-spacing : -1px;
        margin-right : 10px;
    }
    .footer01 ul li a {
        font-size : 13px;
    }
    .footer02 {
        position : relative;
    }
    .footer02_left {
        position : absolute;
        top : 59px;
        left : 0;
    }
    .footer02_left p {
        font-size : 13px;
        letter-spacing : -1px;
        height : 18px;
        line-height : 18px;
    }
    .footer02_left p:last-of-type {
        padding-top : 26px;
    }
    .footer02_right {
        position : absolute;
        top : 0;
        right : 0;
        width : 100%;;
        height : 39px;
        line-height : 39px;
        border : 1px solid #e0e0e0;
        font-size : 14px;
        padding : 0 18px;
        box-sizing : border-box;
    }
    .footer02_right p {
        display : inline-block;
        position : relative;
    }
    .footer02_right > img {
        position : absolute;
        top : 50%;
        right : 5%;
        transform : translate(0, -50%);
    }
    
}