@charset "utf-8"; 
@import url("reset.css");
@import url("font.css"); 

/* 
 * common.css
 * : 해더, 푸터 스타일을 작성하는 영역.
 */

/*body { 
    font-family:'NotoSansKR';
	font-size: 17px;
	line-height: 1.5em;
    color: #333; 
    margin: 0 auto;
	font-weight: 500;
}*/

 

