@charset "utf-8";
@import url('../../../css/common.css');
@font-face {
    font-family: 'MonoLisa';
    src: url('../../education/Publishing/css/font/MonoLisa-Regular.eot');
    src: url('../../education/Publishing/css/font/MonoLisa-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../education/Publishing/css/font/MonoLisa-Regular.woff2') format('woff2'),
        url('../../education/Publishing/css/font/MonoLisa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.en {
    font-family: 'MonoLisa'; 
}
html, body {
    background-color: #F6F9FD;
}

.menu_wrap {
    height: 100vh;
    width: 150px;
    position: fixed;
    left: 0;
    top: 0px;
    background-color: #FF55BB;
    color: #fff;
     
    font-size: 16px;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.menu_wrap ul.menu_list {
    margin-top: 15rem;
}
.menu_wrap ul.category_list {

}
.menu_wrap ul li {
    margin: 30px 0;
}
.menu_wrap ul li a {
    display: inline-block;
    padding: 3px;
}
.menu_wrap ul.manual {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 100px;
    font-size: 13px;
}
.menu_wrap ul.manual li {
    margin: 20px 0;
    color: #ffffffc0;
}
.menu_wrap ul li.on {
    /* text-decoration: underline;   */
    /* background-color: #000; */
}
.menu_wrap ul li.on a {
    background-color: #000;
    /* border: 1px solid #fff; */
    border-radius: 3px;
    position: relative;
}
.menu_wrap ul li.on a::before {
    content: '';
    width: 25px;
    height: 30px;
    background: url('../../../img/main_shine.png');
    background-size: 100%;
    background-position: center;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
#wrap {
    width: calc(100% - 150px);
    margin-left: 150px;
}
.title {font-size: 5rem; text-align: center; display: inline-block;}
.category_item {
    display: inline-block;
    justify-content: center;
    /* margin: 40px 0 30px; */
    margin-left: 5px;
    margin-bottom: 50px;
     
}
.category_item li {
    margin: 0 10px;
    display: inline-block;
}


.content_menu{
    /* font-size: 20px; */
    margin-bottom: 10rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #000; 
    display: flex;
    justify-content: space-between;

}
.content_menu ul {
    display: flex;
}
.content_menu li {
    height: 48px; 
    margin-right: 50px;
    color: #ccc;
    font-size: 5rem;
    font-family: 'Cafe24-ClassicType';
    position: relative;
    color: #FF55BB;
}
.content_menu ul li .page {
    position: absolute;
    right: -40px;
    top: -40px;
    background-color: #bfff00;
    padding: 0 15px;
    border-radius: 50px;
    height: 50px;
    line-height: 50px; 
    font-size: 20px;
    font-family: 'S-Core_Dream';
    box-shadow: 3px 3px 12px #bfff007e;
    z-index: -1;
    display: none;
    
}
 
 
.content_menu li.on .page {
    display: block;
}
.content_menu p {
    color: rgba(0, 0, 0, .5);
    font-size: 20px;
    font-family: 'Cafe24-ClassicType';
}

.list {
    display: none;
}
.list.on {
    display: block;
}
.list .list__box {
    display: flex;
    flex-wrap: wrap; 
}
.list .list__box > div {
    background-color: #fff;
    /* width: calc(100% / 3 - 20px); */
    width: 32.29%;
    margin-right: 1.5%;
    margin-bottom: 25px;
    /* width: 465px */
    /* margin-right : 23px*/
    border-radius: 10px; 
    border: 1px solid transparent; 
}
.list .list__box > div:nth-child(3n) {
    margin-right: 0;
}
.list .list__box > div:hover {
    border: 1px solid #FF55BB;
    box-shadow: 0px 0px 25px rgba(255, 85, 187, 0.3);
}
.list .list__box > div > a,
.list .list__box > div > div {
    height: 100%;
    padding: 30px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list .list__box > div h4 {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 600;
}
.list .list__box > div p {
    line-height: 1.3;
    word-break: keep-all;
}
.list .list__box > div ul {
    margin-top: 30px;
     
}

.list .list__box > div ul li {
    display: inline-block;
    font-size: 12px;
    background-color: #d4ffb7;
    border: 1px solid #000;
    padding: 5px 5px;
    border-radius: 3px;
}
.list .list__box > div ul.image li {
}
/* .list .list__box > div ul.font li {
    background-color: rgb(212, 255, 255);
}
.list .list__box > div ul.program li {
    background-color: rgb(231, 255, 199);
} */

.list .list__box > div ul li.link {
    background-color: #000;
    color: #fff;
}