@charset "utf-8";
@import url('../../../css/common.css');
@font-face {
    font-family: 'MonoLisa';
    src: url('../../education/Publishing/css/font/MonoLisa-Regular.eot');
    src: url('../../education/Publishing/css/font/MonoLisa-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../education/Publishing/css/font/MonoLisa-Regular.woff2') format('woff2'),
        url('../../education/Publishing/css/font/MonoLisa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.en {
    font-family: 'MonoLisa'; 
}
html, body {
    background-color: #F6F9FD;
}