@font-face {
    font-family: 'Keep Calm Med';
    src: url('KeepCalm-Medium.woff2') format('woff2'),
        url('KeepCalm-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

