@charset "utf-8";
fieldset {
    border : 0;
    display : flex;
    justify-content : space-between;
}
legend {
    position : absolute;
    left : -99999999999999999px;
}
#form {
    width : 78.13%;
    margin : 0 auto;
    box-sizing : border-box;
    padding : 96px;
}
h2 {
    text-align : center;
    font-size : 53px;
}
form label {
    display : none;
}
.info {
    display : inline-block;
}
input[type="text"],
input[type="email"] {
    width : 37.2%;
    height : 72px;
    color : #454645;
    border : 1px solid #454645;
    box-sizing: border-box;
    background-color : #fff;
    text-align : center;
}
.button {display : inline-block;}
input[type="submit"] {
    width : 21.35%;
    height : 72px;
    text-align : center;
    border : 1px solid #c9995b;
    background-color : #c9995b;
    box-sizing : border-box;
    color : #fff;
}