@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ font-size:12px; line-height:18px; font-family: 'Nanum Gothic', sans-serif;}
a{ color:#121212; text-decoration:none;}
img{ border:none; vertical-align:top;}
ul{ list-style:none;}
ol{ list-style:none;}

